In [86]:
import pandas as pd

In [87]:
df = pd.read_csv('/home/raghav/codes_new/mental-health/data/raw/Mental Health Checker.csv')

In [88]:
df.head()

,Timestamp,gender,age,education,marital,income,loan,friend_no,friend_help,friend_interact,...,thoughts_command,self_harm,thoughts_acted,thoughts_acted2,thoughts_time,voices,harming_others,suicide,suicidal_thoughts,therapy
0,2021/05/05 3:59:05 PM GMT+6,Female,20-26,University,single,<10,no,none,maybe,none,...,maybe,yes,yes,yes,night,yes,no,yes,no,no
1,2021/05/17 2:07:23 PM GMT+6,Male,20-26,University,married,<10,no,3+,yes,1,...,yes,no,yes,yes,night,no,no,no,no,no
2,2021/05/17 2:09:05 PM GMT+6,Female,13-19,College,single,<10,no,1,yes,1,...,yes,no,yes,yes,Afternoon,no,no,no,no,yes
3,2021/05/17 10:08:23 PM GMT+6,Female,13-19,College,single,<10,no,1,no,none,...,maybe,yes,yes,yes,night,no,no,yes,no,no
4,2021/05/17 10:35:16 PM GMT+6,Female,20-26,University,single,<10,no,3+,yes,3,...,yes,yes,yes,no,evening,yes,no,yes,yes,yes

In [89]:
df.columns

Index(['Timestamp', 'gender', 'age', 'education', 'marital', 'income', 'loan',
       'friend_no', 'friend_help', 'friend_interact', 'share_feel',
       'have_someone', 'lonely', 'bullied', 'family_support', 'compare_life',
       'social_media', 'hangout', 'home_time', 'religious', 'goal', 'suicidal',
       'sleep_disorder', 'mental_disorder', 'love_someone', 'die_someone',
       'thoughts_command', 'self_harm', 'thoughts_acted', 'thoughts_acted2',
       'thoughts_time', 'voices', 'harming_others', 'suicide',
       'suicidal_thoughts', 'therapy'],
      dtype='object')

In [90]:
for x in df.columns:
    print(x)
    print(df[x].value_counts())
    print("*"*40)

Timestamp
2021/05/05 3:59:05 PM GMT+6     1
2021/05/20 9:26:15 PM GMT+6     1
2021/05/20 8:28:59 PM GMT+6     1
2021/05/20 8:42:07 PM GMT+6     1
2021/05/20 8:45:12 PM GMT+6     1
                               ..
2021/05/18 1:01:46 AM GMT+6     1
2021/05/18 1:03:21 AM GMT+6     1
2021/05/18 1:04:47 AM GMT+6     1
2021/05/18 1:07:16 AM GMT+6     1
2021/05/21 12:18:56 AM GMT+6    1
Name: Timestamp, Length: 207, dtype: int64
****************************************
gender
Male      113
Female     94
Name: gender, dtype: int64
****************************************
age
20-26         126
13-19          60
27-33          15
34-44           5
45 or more      1
Name: age, dtype: int64
****************************************
education
University    148
College        29
School         15
Name: education, dtype: int64
****************************************
marital
single       181
married       24
divorced       1
separated      1
Name: marital, dtype: int64
****************************************
income
<10    160
<20     20
50+      9
30+      9
<30      9
Name: income, dtype: int64
****************************************
loan
no     179
yes     28
Name: loan, dtype: int64
****************************************
friend_no
none    87
3+      70
2       19
1       16
3       15
Name: friend_no, dtype: int64
****************************************
friend_help
no       102
yes       73
maybe     32
Name: friend_help, dtype: int64
****************************************
friend_interact
none    97
2       37
3+      25
1       24
3       24
Name: friend_interact, dtype: int64
****************************************
share_feel
no       130
yes       46
maybe     30
idk        1
Name: share_feel, dtype: int64
****************************************
have_someone
no       130
yes       62
maybe     15
Name: have_someone, dtype: int64
****************************************
lonely
yes          119
sometimes     57
no            22
maybe          6
never          3
Name: lonely, dtype: int64
****************************************
bullied
yes    164
no      43
Name: bullied, dtype: int64
****************************************
family_support
no       128
yes       62
maybe     17
Name: family_support, dtype: int64
****************************************
compare_life
no     134
yes     73
Name: compare_life, dtype: int64
****************************************
social_media
3+ hours    82
<2 hours    57
<3 hours    56
<1 hour     12
Name: social_media, dtype: int64
****************************************
hangout
none    117
1        41
2        19
3+       17
3        12
Name: hangout, dtype: int64
****************************************
home_time
24     78
<20    43
<24    41
<15    38
<10     7
Name: home_time, dtype: int64
****************************************
religious
yes    110
no      97
Name: religious, dtype: int64
****************************************
goal
no       106
yes       76
maybe     25
Name: goal, dtype: int64
****************************************
suicidal
no       122
yes       45
maybe     40
Name: suicidal, dtype: int64
****************************************
sleep_disorder
yes    160
no      47
Name: sleep_disorder, dtype: int64
****************************************
mental_disorder
depression      127
stress           27
anxiety          22
Panic attack     13
Name: mental_disorder, dtype: int64
****************************************
love_someone
no       117
yes       68
maybe     22
Name: love_someone, dtype: int64
****************************************
die_someone
no       150
yes       37
maybe     20
Name: die_someone, dtype: int64
****************************************
thoughts_command
yes      123
no        46
maybe     38
Name: thoughts_command, dtype: int64
****************************************
self_harm
yes      150
no        48
maybe      9
Name: self_harm, dtype: int64
****************************************
thoughts_acted
yes    147
no      60
Name: thoughts_acted, dtype: int64
****************************************
thoughts_acted2
yes    151
no      56
Name: thoughts_acted2, dtype: int64
****************************************
thoughts_time
night        156
evening       11
Afternoon      8
morning        4
Name: thoughts_time, dtype: int64
****************************************
voices
no     146
yes     61
Name: voices, dtype: int64
****************************************
harming_others
no     145
yes     62
Name: harming_others, dtype: int64
****************************************
suicide
yes    152
no      55
Name: suicide, dtype: int64
****************************************
suicidal_thoughts
no     174
yes     33
Name: suicidal_thoughts, dtype: int64
****************************************
therapy
no     186
yes     21
Name: therapy, dtype: int64
****************************************

In [91]:
df2 = pd.read_csv('../data/raw/survey_latest.csv')

In [92]:
df2.head()

,Timestamp,Username,Please enter your name,Please select your gender,How old are you?,Please select your current educational/working position,Please select your current marital status,Please select your current monthly income,Do you have any ongoing active loan?,How many close friends do you have?,...,Have you ever acted upon your depressing or self-harming thoughts?,Are you having these thoughts recently which force you to act upon?,At what time of the day do these thoughts occur to you the most?,Did you ever hear any voice inside your head?,Did you ever have any thought of harming others?,Did you ever think of taking your life?,Have you told anyone that you want to take your life or harm others?,Did you ever receive any psychiatric/ professional help whenever you felt super down?,How comfortable were you with the Survey Questions?,Please feel free to provide any kind of feedback!
0,2022/04/18 7:07:37 PM GMT+5:30,indrashis985@gmail.com,Indra,Male,20-26,University,Single,<10000,No,3,...,Yes,No,NaN,No,No,No,No,No,5,NaN
1,2022/04/18 7:10:25 PM GMT+5:30,theaniket77@gmail.com,Aniket Bandyopadhyay,Male,20-26,University,Single,<10000,No,3 +,...,No,No,Night,No,No,Yes,No,No,4,NaN
2,2022/04/18 7:10:28 PM GMT+5:30,indrashis985@gmail.com,Indra2,Male,13-19,School,Single,<10000,No,3 +,...,Yes,No,NaN,No,No,No,No,No,5,NaN
3,2022/04/18 7:21:39 PM GMT+5:30,abhigadgil15@gmail.com,Abhinav Gadgil,Male,20-26,University,Single,<30000,No,3 +,...,Yes,No,Night,No,No,No,No,No,3,NaN
4,2022/04/18 7:26:21 PM GMT+5:30,raghavagrawal406@gmail.com,Raghav,Male,20-26,University,Single,<10000,No,3 +,...,No,No,NaN,No,No,No,No,No,5,NaN

In [93]:
df.drop('Timestamp',axis=1,inplace=True)

In [94]:
df.head()

,gender,age,education,marital,income,loan,friend_no,friend_help,friend_interact,share_feel,...,thoughts_command,self_harm,thoughts_acted,thoughts_acted2,thoughts_time,voices,harming_others,suicide,suicidal_thoughts,therapy
0,Female,20-26,University,single,<10,no,none,maybe,none,idk,...,maybe,yes,yes,yes,night,yes,no,yes,no,no
1,Male,20-26,University,married,<10,no,3+,yes,1,yes,...,yes,no,yes,yes,night,no,no,no,no,no
2,Female,13-19,College,single,<10,no,1,yes,1,no,...,yes,no,yes,yes,Afternoon,no,no,no,no,yes
3,Female,13-19,College,single,<10,no,1,no,none,maybe,...,maybe,yes,yes,yes,night,no,no,yes,no,no
4,Female,20-26,University,single,<10,no,3+,yes,3,yes,...,yes,yes,yes,no,evening,yes,no,yes,yes,yes

In [95]:
df2.drop(columns=['Timestamp','Username','Please enter your name','How comfortable were you with the Survey Questions?','Please feel free to provide any kind of feedback!'],axis = 1,inplace=True)

In [97]:
df.head(2)

,gender,age,education,marital,income,loan,friend_no,friend_help,friend_interact,share_feel,...,thoughts_command,self_harm,thoughts_acted,thoughts_acted2,thoughts_time,voices,harming_others,suicide,suicidal_thoughts,therapy
0,Female,20-26,University,single,<10,no,none,maybe,none,idk,...,maybe,yes,yes,yes,night,yes,no,yes,no,no
1,Male,20-26,University,married,<10,no,3+,yes,1,yes,...,yes,no,yes,yes,night,no,no,no,no,no

In [98]:
df2.head(2)

,Please select your gender,How old are you?,Please select your current educational/working position,Please select your current marital status,Please select your current monthly income,Do you have any ongoing active loan?,How many close friends do you have?,Do you think your friends are helpful in your tough times?,How many of them do you interact with daily?,Can you genuinely share your thoughts and feelings to someone?,...,Do you have depressing thoughts often?,Did you ever think of harming yourself?,Have you ever acted upon your depressing or self-harming thoughts?,Are you having these thoughts recently which force you to act upon?,At what time of the day do these thoughts occur to you the most?,Did you ever hear any voice inside your head?,Did you ever have any thought of harming others?,Did you ever think of taking your life?,Have you told anyone that you want to take your life or harm others?,Did you ever receive any psychiatric/ professional help whenever you felt super down?
0,Male,20-26,University,Single,<10000,No,3,Yes,1,Yes,...,Maybe,No,Yes,No,NaN,No,No,No,No,No
1,Male,20-26,University,Single,<10000,No,3 +,Yes,3 +,Yes,...,Yes,Yes,No,No,Night,No,No,Yes,No,No

In [99]:
cols = df.columns
cols

Index(['gender', 'age', 'education', 'marital', 'income', 'loan', 'friend_no',
       'friend_help', 'friend_interact', 'share_feel', 'have_someone',
       'lonely', 'bullied', 'family_support', 'compare_life', 'social_media',
       'hangout', 'home_time', 'religious', 'goal', 'suicidal',
       'sleep_disorder', 'mental_disorder', 'love_someone', 'die_someone',
       'thoughts_command', 'self_harm', 'thoughts_acted', 'thoughts_acted2',
       'thoughts_time', 'voices', 'harming_others', 'suicide',
       'suicidal_thoughts', 'therapy'],
      dtype='object')

In [100]:
df2.columns = cols

In [101]:
df2.head()

,gender,age,education,marital,income,loan,friend_no,friend_help,friend_interact,share_feel,...,thoughts_command,self_harm,thoughts_acted,thoughts_acted2,thoughts_time,voices,harming_others,suicide,suicidal_thoughts,therapy
0,Male,20-26,University,Single,<10000,No,3,Yes,1,Yes,...,Maybe,No,Yes,No,NaN,No,No,No,No,No
1,Male,20-26,University,Single,<10000,No,3 +,Yes,3 +,Yes,...,Yes,Yes,No,No,Night,No,No,Yes,No,No
2,Male,13-19,School,Single,<10000,No,3 +,Maybe,3 +,Maybe,...,Maybe,No,Yes,No,NaN,No,No,No,No,No
3,Male,20-26,University,Single,<30000,No,3 +,Yes,3,Yes,...,Maybe,Maybe,Yes,No,Night,No,No,No,No,No
4,Male,20-26,University,Single,<10000,No,3 +,Maybe,1,Yes,...,No,No,No,No,NaN,No,No,No,No,No

In [102]:
df3 = pd.concat([df, df2], axis=0)

In [107]:
df.shape,df2.shape

((207, 35), (81, 35))

In [108]:
print(df3.shape)
df3.head()

(288, 35)

,gender,age,education,marital,income,loan,friend_no,friend_help,friend_interact,share_feel,...,thoughts_command,self_harm,thoughts_acted,thoughts_acted2,thoughts_time,voices,harming_others,suicide,suicidal_thoughts,therapy
0,Female,20-26,University,single,<10,no,none,maybe,none,idk,...,maybe,yes,yes,yes,night,yes,no,yes,no,no
1,Male,20-26,University,married,<10,no,3+,yes,1,yes,...,yes,no,yes,yes,night,no,no,no,no,no
2,Female,13-19,College,single,<10,no,1,yes,1,no,...,yes,no,yes,yes,Afternoon,no,no,no,no,yes
3,Female,13-19,College,single,<10,no,1,no,none,maybe,...,maybe,yes,yes,yes,night,no,no,yes,no,no
4,Female,20-26,University,single,<10,no,3+,yes,3,yes,...,yes,yes,yes,no,evening,yes,no,yes,yes,yes

In [109]:
for x in df3.columns:
    print(x)
    print(df3[x].value_counts())
    print("*"*40)

gender
Male      171
Female    117
Name: gender, dtype: int64
****************************************
age
20-26         175
13-19          88
27-33          18
34-44           6
45 or more      1
Name: age, dtype: int64
****************************************
education
University      183
College          60
School           17
Professional     10
Unemployed        3
Name: education, dtype: int64
****************************************
marital
single       181
Single        78
married       24
Married        3
divorced       1
separated      1
Name: marital, dtype: int64
****************************************
income
<10       160
<10000     64
<20        20
50+         9
30+         9
<30         9
50000+      9
<30000      4
30000+      3
<20000      1
Name: income, dtype: int64
****************************************
loan
no     179
No      74
yes     28
Yes      7
Name: loan, dtype: int64
****************************************
friend_no
none    87
3+      70
3 +     41
3       32
2       28
1       24
None     6
Name: friend_no, dtype: int64
****************************************
friend_help
no       102
yes       73
Yes       60
maybe     32
Maybe     17
No         4
Name: friend_help, dtype: int64
****************************************
friend_interact
none    97
2       54
1       53
3       40
3+      25
3 +     19
Name: friend_interact, dtype: int64
****************************************
share_feel
no       130
Yes       49
yes       46
maybe     30
Maybe     18
No        14
idk        1
Name: share_feel, dtype: int64
****************************************
have_someone
no       130
yes       62
Yes       47
No        20
maybe     15
Maybe     14
Name: have_someone, dtype: int64
****************************************
lonely
yes                  119
sometimes             57
Sometimes             40
no                    22
Yes                   15
No                    11
Maybe                 10
maybe                  6
Never felt lonely      5
never                  3
Name: lonely, dtype: int64
****************************************
bullied
yes    164
No      49
no      43
Yes     32
Name: bullied, dtype: int64
****************************************
family_support
no       128
yes       62
Yes       58
maybe     17
Maybe     16
No         7
Name: family_support, dtype: int64
****************************************
compare_life
no     134
yes     73
Yes     44
No      37
Name: compare_life, dtype: int64
****************************************
social_media
3+ hours    105
<2 hours     81
<3 hours     72
<1 hour      30
Name: social_media, dtype: int64
****************************************
hangout
none    117
1        56
None     34
3+       31
2        29
3        20
Name: hangout, dtype: int64
****************************************
home_time
24     105
<20     58
<24     55
<15     49
<10     21
Name: home_time, dtype: int64
****************************************
religious
yes    110
no      97
Yes     62
No      19
Name: religious, dtype: int64
****************************************
goal
no       106
yes       76
Yes       62
maybe     25
Maybe     11
No         8
Name: goal, dtype: int64
****************************************
suicidal
no       122
Yes       64
yes       45
maybe     40
Maybe     11
No         6
Name: suicidal, dtype: int64
****************************************
sleep_disorder
yes    160
No      63
no      47
Yes     18
Name: sleep_disorder, dtype: int64
****************************************
mental_disorder
depression      127
stress           27
None             27
anxiety          22
Stress           22
Anxiety          21
Panic attack     16
Depression        8
Name: mental_disorder, dtype: int64
****************************************
love_someone
no       117
yes       68
Yes       65
maybe     22
No         8
Maybe      8
Name: love_someone, dtype: int64
****************************************
die_someone
no       150
yes       37
No        31
Yes       28
Maybe     22
maybe     20
Name: die_someone, dtype: int64
****************************************
thoughts_command
yes      123
no        46
maybe     38
Yes       35
Maybe     24
No        22
Name: thoughts_command, dtype: int64
****************************************
self_harm
yes      150
No        49
no        48
Yes       21
Maybe     11
maybe      9
Name: self_harm, dtype: int64
****************************************
thoughts_acted
yes    147
no      60
Yes     41
No      40
Name: thoughts_acted, dtype: int64
****************************************
thoughts_acted2
yes    151
No      58
no      56
Yes     23
Name: thoughts_acted2, dtype: int64
****************************************
thoughts_time
night        156
Night         30
evening       11
Afternoon     10
morning        4
Evening        4
Morning        2
Name: thoughts_time, dtype: int64
****************************************
voices
no     146
yes     61
No      41
Yes     40
Name: voices, dtype: int64
****************************************
harming_others
no     145
No      72
yes     62
Yes      9
Name: harming_others, dtype: int64
****************************************
suicide
yes    152
No      65
no      55
Yes     16
Name: suicide, dtype: int64
****************************************
suicidal_thoughts
no     174
No      73
yes     33
Yes      8
Name: suicidal_thoughts, dtype: int64
****************************************
therapy
no     186
No      73
yes     21
Yes      8
Name: therapy, dtype: int64
****************************************

In [68]:
df3['loan'].value_counts()

no     179
No      72
yes     28
Yes      7
Name: loan, dtype: int64

In [110]:
#no_yes_maybe/ no_yes
remaining_cols = ["loan","friend_help","share_feel","have_someone","bullied","family_support","compare_life","religious","goal","suicidal","sleep_disorder","love_someone","die_someone","thoughts_command","self_harm","thoughts_acted","thoughts_acted2","voices","harming_others","suicide","suicidal_thoughts","therapy"]
for x in remaining_cols:
    df3[x].replace(to_replace="Yes",value="yes",inplace=True)
    df3[x].replace(to_replace="No",value="no",inplace=True)
    df3[x].replace(to_replace="Maybe",value="maybe",inplace=True)
    print(df3[x].value_counts())

no     253
yes     35
Name: loan, dtype: int64
yes      133
no       106
maybe     49
Name: friend_help, dtype: int64
no       144
yes       95
maybe     48
idk        1
Name: share_feel, dtype: int64
no       150
yes      109
maybe     29
Name: have_someone, dtype: int64
yes    196
no      92
Name: bullied, dtype: int64
no       135
yes      120
maybe     33
Name: family_support, dtype: int64
no     171
yes    117
Name: compare_life, dtype: int64
yes    172
no     116
Name: religious, dtype: int64
yes      138
no       114
maybe     36
Name: goal, dtype: int64
no       128
yes      109
maybe     51
Name: suicidal, dtype: int64
yes    178
no     110
Name: sleep_disorder, dtype: int64
yes      133
no       125
maybe     30
Name: love_someone, dtype: int64
no       181
yes       65
maybe     42
Name: die_someone, dtype: int64
yes      158
no        68
maybe     62
Name: thoughts_command, dtype: int64
yes      171
no        97
maybe     20
Name: self_harm, dtype: int64
yes    188
no     100
Name: thoughts_acted, dtype: int64
yes    174
no     114
Name: thoughts_acted2, dtype: int64
no     187
yes    101
Name: voices, dtype: int64
no     217
yes     71
Name: harming_others, dtype: int64
yes    168
no     120
Name: suicide, dtype: int64
no     247
yes     41
Name: suicidal_thoughts, dtype: int64
no     259
yes     29
Name: therapy, dtype: int64

In [111]:
df3["friend_help"].replace(to_replace="idk",value="maybe",inplace=True)
df3["friend_help"].value_counts()

yes      133
no       106
maybe     49
Name: friend_help, dtype: int64

In [112]:
# marital
# single       181
# Single        76
# married       24
# Married        3
# divorced       1
# separated      1
df3.replace(to_replace ="Single",value ="single",inplace=True)
df3.replace(to_replace ="Married",value ="married",inplace=True)

In [113]:
df3['marital'].value_counts()

single       259
married       27
divorced       1
separated      1
Name: marital, dtype: int64

In [114]:
# income
# <10       160
# <10000     62
# <20        20
# 50+         9
# 30+         9
# <30         9
# 50000+      9
# <30000      4
# 30000+      3
# <20000      1
df3['income'].replace(to_replace ="<10000",value ="<10",inplace=True)
df3['income'].replace(to_replace ="<20000",value ="<20",inplace=True)
df3['income'].replace(to_replace ="<30000",value ="<30",inplace=True)
df3['income'].replace(to_replace ="30000+",value ="30+",inplace=True)
df3['income'].replace(to_replace ="50000+",value ="50+",inplace=True)

In [115]:
df3['income'].value_counts()

<10    224
<20     21
50+     18
<30     13
30+     12
Name: income, dtype: int64

In [116]:
# friend_no
# none    87
# 3+      70
# 3 +     40
# 3       32
# 2       27
# 1       24
# None     6
df3['friend_no'].replace(to_replace="None",value="none",inplace=True)
df3['friend_no'].replace(to_replace="3 +",value="3+",inplace=True)

df3['friend_no'].value_counts()

3+      111
none     93
3        32
2        28
1        24
Name: friend_no, dtype: int64

In [117]:
# friend_interact
# none    97
# 1       53
# 2       53
# 3       39
# 3+      25
# 3 +     19
df3['friend_interact'].replace(to_replace="3 +",value="3+",inplace=True)
df3['friend_interact'].replace(to_replace="none",value="0",inplace=True)
df3['friend_interact'].value_counts()

0     97
2     54
1     53
3+    44
3     40
Name: friend_interact, dtype: int64

In [118]:
# lonely
# yes                  119
# sometimes             57
# Sometimes             38
# no                    22
# Yes                   15
# No                    11
# Maybe                 10
# maybe                  6
# Never felt lonely      5
# never                  3
df3['lonely'].replace(to_replace="Yes",value="yes",inplace=True)
df3['lonely'].replace(to_replace="No",value="no",inplace=True)
df3['lonely'].replace(to_replace="Maybe",value="maybe",inplace=True)
df3['lonely'].replace(to_replace="Sometimes",value="sometimes",inplace=True)
df3['lonely'].replace(to_replace="Never felt lonely",value="never",inplace=True)
df3['lonely'].value_counts()

yes          134
sometimes     97
no            33
maybe         16
never          8
Name: lonely, dtype: int64

In [119]:
# hangout
# none    117
# 1        55
# None     34
# 3+       31
# 2        28
# 3        20
df3['hangout'].replace(to_replace="None",value="none",inplace=True)
df3['hangout'].value_counts()

none    151
1        56
3+       31
2        29
3        20
Name: hangout, dtype: int64

In [120]:
# mental_disorder
# depression      127
# stress           27
# None             26
# anxiety          22
# Stress           21
# Anxiety          21
# Panic attack     16
# Depression        8
df3['mental_disorder'].replace(to_replace="Depression",value="depression",inplace=True)
df3['mental_disorder'].replace(to_replace="Stress",value="stress",inplace=True)
df3['mental_disorder'].replace(to_replace="Anxiety",value="anxiety",inplace=True)
df3['mental_disorder'].value_counts()

depression      135
stress           49
anxiety          43
None             27
Panic attack     16
Name: mental_disorder, dtype: int64

In [121]:
# thoughts_time
# night        156
# Night         30
# evening       11
# Afternoon     10
# morning        4
# Evening        4
# Morning        2
df3['thoughts_time'].replace(to_replace="Night",value="night",inplace=True)
df3['thoughts_time'].replace(to_replace="Evening",value="evening",inplace=True)
df3['thoughts_time'].replace(to_replace="Morning",value="morning",inplace=True)
df3['thoughts_time'].value_counts()

night        186
evening       15
Afternoon     10
morning        6
Name: thoughts_time, dtype: int64

In [122]:
df3.isnull().sum()

gender                0
age                   0
education            15
marital               0
income                0
loan                  0
friend_no             0
friend_help           0
friend_interact       0
share_feel            0
have_someone          0
lonely                0
bullied               0
family_support        0
compare_life          0
social_media          0
hangout               1
home_time             0
religious             0
goal                  0
suicidal              0
sleep_disorder        0
mental_disorder      18
love_someone          0
die_someone           0
thoughts_command      0
self_harm             0
thoughts_acted        0
thoughts_acted2       0
thoughts_time        71
voices                0
harming_others        0
suicide               0
suicidal_thoughts     0
therapy               0
dtype: int64

In [123]:
# handling missing values
for x in df3.columns:
    if df3[x].isnull().sum()>0:
        df3[x].fillna(df3[x].mode()[0],inplace=True)

In [124]:
#no null values remaining
[x for x in df3.columns if df3[x].isnull().sum()>0]

[]

In [127]:
#saving new csv file inside 'processed' directory
df3.to_csv('../data/processed/completeData.csv',index=False)

In [128]:
final_data = pd.read_csv('../data/processed/completeData.csv')
print(final_data.shape)
final_data.head()

(288, 35)

,gender,age,education,marital,income,loan,friend_no,friend_help,friend_interact,share_feel,...,thoughts_command,self_harm,thoughts_acted,thoughts_acted2,thoughts_time,voices,harming_others,suicide,suicidal_thoughts,therapy
0,Female,20-26,University,single,<10,no,none,maybe,0,idk,...,maybe,yes,yes,yes,night,yes,no,yes,no,no
1,Male,20-26,University,married,<10,no,3+,yes,1,yes,...,yes,no,yes,yes,night,no,no,no,no,no
2,Female,13-19,College,single,<10,no,1,yes,1,no,...,yes,no,yes,yes,Afternoon,no,no,no,no,yes
3,Female,13-19,College,single,<10,no,1,no,0,maybe,...,maybe,yes,yes,yes,night,no,no,yes,no,no
4,Female,20-26,University,single,<10,no,3+,yes,3,yes,...,yes,yes,yes,no,evening,yes,no,yes,yes,yes

In [125]:
# # Label Encoding 
# from sklearn import preprocessing
# le = preprocessing.LabelEncoder()

In [126]:
# for x in df.columns:
#     df[x] = le.fit_transform(df[x])
#     print(df[x].unique())
#     print('*'*20)