In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('/home/raghav/codes_new/mental-health/data/raw/Mental Health Checker.csv')

In [26]:
df.head()

,Timestamp,gender,age,education,marital,income,loan,friend_no,friend_help,friend_interact,...,thoughts_command,self_harm,thoughts_acted,thoughts_acted2,thoughts_time,voices,harming_others,suicide,suicidal_thoughts,therapy
0,2021/05/05 3:59:05 PM GMT+6,Female,20-26,University,single,<10,no,none,maybe,none,...,maybe,yes,yes,yes,night,yes,no,yes,no,no
1,2021/05/17 2:07:23 PM GMT+6,Male,20-26,University,married,<10,no,3+,yes,1,...,yes,no,yes,yes,night,no,no,no,no,no
2,2021/05/17 2:09:05 PM GMT+6,Female,13-19,College,single,<10,no,1,yes,1,...,yes,no,yes,yes,Afternoon,no,no,no,no,yes
3,2021/05/17 10:08:23 PM GMT+6,Female,13-19,College,single,<10,no,1,no,none,...,maybe,yes,yes,yes,night,no,no,yes,no,no
4,2021/05/17 10:35:16 PM GMT+6,Female,20-26,University,single,<10,no,3+,yes,3,...,yes,yes,yes,no,evening,yes,no,yes,yes,yes

In [27]:
df.columns

Index(['Timestamp', 'gender', 'age', 'education', 'marital', 'income', 'loan',
       'friend_no', 'friend_help', 'friend_interact', 'share_feel',
       'have_someone', 'lonely', 'bullied', 'family_support', 'compare_life',
       'social_media', 'hangout', 'home_time', 'religious', 'goal', 'suicidal',
       'sleep_disorder', 'mental_disorder', 'love_someone', 'die_someone',
       'thoughts_command', 'self_harm', 'thoughts_acted', 'thoughts_acted2',
       'thoughts_time', 'voices', 'harming_others', 'suicide',
       'suicidal_thoughts', 'therapy'],
      dtype='object')

In [28]:
df['loan'].value_counts()

no     179
yes     28
Name: loan, dtype: int64

In [29]:
df['home_time'].value_counts()

24     78
<20    43
<24    41
<15    38
<10     7
Name: home_time, dtype: int64

In [30]:
for x in df.columns:
    print(x)
    print(df[x].value_counts())
    print("*"*40)

Timestamp
2021/05/05 3:59:05 PM GMT+6     1
2021/05/20 9:26:15 PM GMT+6     1
2021/05/20 8:28:59 PM GMT+6     1
2021/05/20 8:42:07 PM GMT+6     1
2021/05/20 8:45:12 PM GMT+6     1
                               ..
2021/05/18 1:01:46 AM GMT+6     1
2021/05/18 1:03:21 AM GMT+6     1
2021/05/18 1:04:47 AM GMT+6     1
2021/05/18 1:07:16 AM GMT+6     1
2021/05/21 12:18:56 AM GMT+6    1
Name: Timestamp, Length: 207, dtype: int64
****************************************
gender
Male      113
Female     94
Name: gender, dtype: int64
****************************************
age
20-26         126
13-19          60
27-33          15
34-44           5
45 or more      1
Name: age, dtype: int64
****************************************
education
University    148
College        29
School         15
Name: education, dtype: int64
****************************************
marital
single       181
married       24
divorced       1
separated      1
Name: marital, dtype: int64
****************************************
income
<10    160
<20     20
50+      9
30+      9
<30      9
Name: income, dtype: int64
****************************************
loan
no     179
yes     28
Name: loan, dtype: int64
****************************************
friend_no
none    87
3+      70
2       19
1       16
3       15
Name: friend_no, dtype: int64
****************************************
friend_help
no       102
yes       73
maybe     32
Name: friend_help, dtype: int64
****************************************
friend_interact
none    97
2       37
3+      25
1       24
3       24
Name: friend_interact, dtype: int64
****************************************
share_feel
no       130
yes       46
maybe     30
idk        1
Name: share_feel, dtype: int64
****************************************
have_someone
no       130
yes       62
maybe     15
Name: have_someone, dtype: int64
****************************************
lonely
yes          119
sometimes     57
no            22
maybe          6
never          3
Name: lonely, dtype: int64
****************************************
bullied
yes    164
no      43
Name: bullied, dtype: int64
****************************************
family_support
no       128
yes       62
maybe     17
Name: family_support, dtype: int64
****************************************
compare_life
no     134
yes     73
Name: compare_life, dtype: int64
****************************************
social_media
3+ hours    82
<2 hours    57
<3 hours    56
<1 hour     12
Name: social_media, dtype: int64
****************************************
hangout
none    117
1        41
2        19
3+       17
3        12
Name: hangout, dtype: int64
****************************************
home_time
24     78
<20    43
<24    41
<15    38
<10     7
Name: home_time, dtype: int64
****************************************
religious
yes    110
no      97
Name: religious, dtype: int64
****************************************
goal
no       106
yes       76
maybe     25
Name: goal, dtype: int64
****************************************
suicidal
no       122
yes       45
maybe     40
Name: suicidal, dtype: int64
****************************************
sleep_disorder
yes    160
no      47
Name: sleep_disorder, dtype: int64
****************************************
mental_disorder
depression      127
stress           27
anxiety          22
Panic attack     13
Name: mental_disorder, dtype: int64
****************************************
love_someone
no       117
yes       68
maybe     22
Name: love_someone, dtype: int64
****************************************
die_someone
no       150
yes       37
maybe     20
Name: die_someone, dtype: int64
****************************************
thoughts_command
yes      123
no        46
maybe     38
Name: thoughts_command, dtype: int64
****************************************
self_harm
yes      150
no        48
maybe      9
Name: self_harm, dtype: int64
****************************************
thoughts_acted
yes    147
no      60
Name: thoughts_acted, dtype: int64
****************************************
thoughts_acted2
yes    151
no      56
Name: thoughts_acted2, dtype: int64
****************************************
thoughts_time
night        156
evening       11
Afternoon      8
morning        4
Name: thoughts_time, dtype: int64
****************************************
voices
no     146
yes     61
Name: voices, dtype: int64
****************************************
harming_others
no     145
yes     62
Name: harming_others, dtype: int64
****************************************
suicide
yes    152
no      55
Name: suicide, dtype: int64
****************************************
suicidal_thoughts
no     174
yes     33
Name: suicidal_thoughts, dtype: int64
****************************************
therapy
no     186
yes     21
Name: therapy, dtype: int64
****************************************

In [31]:
df.isna().sum()

Timestamp             0
gender                0
age                   0
education            15
marital               0
income                0
loan                  0
friend_no             0
friend_help           0
friend_interact       0
share_feel            0
have_someone          0
lonely                0
bullied               0
family_support        0
compare_life          0
social_media          0
hangout               1
home_time             0
religious             0
goal                  0
suicidal              0
sleep_disorder        0
mental_disorder      18
love_someone          0
die_someone           0
thoughts_command      0
self_harm             0
thoughts_acted        0
thoughts_acted2       0
thoughts_time        28
voices                0
harming_others        0
suicide               0
suicidal_thoughts     0
therapy               0
dtype: int64

In [32]:
#df[df['education'].isna() == True]

In [33]:
df.shape

(207, 36)

In [34]:
# dropping 'Timestamp' column
df.drop(['Timestamp'],axis = 1,inplace=True)

In [35]:
df.head()

,gender,age,education,marital,income,loan,friend_no,friend_help,friend_interact,share_feel,...,thoughts_command,self_harm,thoughts_acted,thoughts_acted2,thoughts_time,voices,harming_others,suicide,suicidal_thoughts,therapy
0,Female,20-26,University,single,<10,no,none,maybe,none,idk,...,maybe,yes,yes,yes,night,yes,no,yes,no,no
1,Male,20-26,University,married,<10,no,3+,yes,1,yes,...,yes,no,yes,yes,night,no,no,no,no,no
2,Female,13-19,College,single,<10,no,1,yes,1,no,...,yes,no,yes,yes,Afternoon,no,no,no,no,yes
3,Female,13-19,College,single,<10,no,1,no,none,maybe,...,maybe,yes,yes,yes,night,no,no,yes,no,no
4,Female,20-26,University,single,<10,no,3+,yes,3,yes,...,yes,yes,yes,no,evening,yes,no,yes,yes,yes

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             207 non-null    object
 1   age                207 non-null    object
 2   education          192 non-null    object
 3   marital            207 non-null    object
 4   income             207 non-null    object
 5   loan               207 non-null    object
 6   friend_no          207 non-null    object
 7   friend_help        207 non-null    object
 8   friend_interact    207 non-null    object
 9   share_feel         207 non-null    object
 10  have_someone       207 non-null    object
 11  lonely             207 non-null    object
 12  bullied            207 non-null    object
 13  family_support     207 non-null    object
 14  compare_life       207 non-null    object
 15  social_media       207 non-null    object
 16  hangout            206 non-null    object
 17  home_time          207 non-null    object
 18  religious          207 non-null    object
 19  goal               207 non-null    object
 20  suicidal           207 non-null    object
 21  sleep_disorder     207 non-null    object
 22  mental_disorder    189 non-null    object
 23  love_someone       207 non-null    object
 24  die_someone        207 non-null    object
 25  thoughts_command   207 non-null    object
 26  self_harm          207 non-null    object
 27  thoughts_acted     207 non-null    object
 28  thoughts_acted2    207 non-null    object
 29  thoughts_time      179 non-null    object
 30  voices             207 non-null    object
 31  harming_others     207 non-null    object
 32  suicide            207 non-null    object
 33  suicidal_thoughts  207 non-null    object
 34  therapy            207 non-null    object
dtypes: object(35)
memory usage: 56.7+ KB

In [42]:
df['education'].mode()[0]

'University'

In [58]:
# handling missing values
for x in df.columns:
    if df[x].isnull().sum()>0:
        df[x].fillna(df[x].mode()[0],inplace=True)

In [71]:
[x for x in df.columns if df[x].isnull().sum()>0]

[]

In [74]:
print(df.shape)
df.head()

(207, 35)

,gender,age,education,marital,income,loan,friend_no,friend_help,friend_interact,share_feel,...,thoughts_command,self_harm,thoughts_acted,thoughts_acted2,thoughts_time,voices,harming_others,suicide,suicidal_thoughts,therapy
0,Female,20-26,University,single,<10,no,none,maybe,none,idk,...,maybe,yes,yes,yes,night,yes,no,yes,no,no
1,Male,20-26,University,married,<10,no,3+,yes,1,yes,...,yes,no,yes,yes,night,no,no,no,no,no
2,Female,13-19,College,single,<10,no,1,yes,1,no,...,yes,no,yes,yes,Afternoon,no,no,no,no,yes
3,Female,13-19,College,single,<10,no,1,no,none,maybe,...,maybe,yes,yes,yes,night,no,no,yes,no,no
4,Female,20-26,University,single,<10,no,3+,yes,3,yes,...,yes,yes,yes,no,evening,yes,no,yes,yes,yes

In [75]:
# Label Encoding 
from sklearn import preprocessing

In [77]:
le = preprocessing.LabelEncoder()

In [79]:
for x in df.columns:
    df[x] = le.fit_transform(df[x])
    print(df[x].unique())
    print('*'*20)

[0 1]
********************
[1 0 3 2 4]
********************
[2 0 1]
********************
[3 1 0 2]
********************
[2 3 1 0 4]
********************
[0 1]
********************
[4 3 0 1 2]
********************
[0 2 1]
********************
[4 0 2 3 1]
********************
[0 3 2 1]
********************
[1 2 0]
********************
[3 2 0 4 1]
********************
[1 0]
********************
[1 2 0]
********************
[0 1]
********************
[2 1 0 3]
********************
[4 0 1 3 2]
********************
[0 3 2 4 1]
********************
[0 1]
********************
[0 2 1]
********************
[1 2 0]
********************
[1 0]
********************
[0 2 1 3]
********************
[0 2 1]
********************
[1 0 2]
********************
[0 2 1]
********************
[2 1 0]
********************
[1 0]
********************
[1 0]
********************
[3 0 1 2]
********************
[1 0]
********************
[0 1]
********************
[1 0]
********************
[0 1]
********************
[0 1]
********************

In [80]:
df.head()

,gender,age,education,marital,income,loan,friend_no,friend_help,friend_interact,share_feel,...,thoughts_command,self_harm,thoughts_acted,thoughts_acted2,thoughts_time,voices,harming_others,suicide,suicidal_thoughts,therapy
0,0,1,2,3,2,0,4,0,4,0,...,0,2,1,1,3,1,0,1,0,0
1,1,1,2,1,2,0,3,2,0,3,...,2,1,1,1,3,0,0,0,0,0
2,0,0,0,3,2,0,0,2,0,2,...,2,1,1,1,0,0,0,0,0,1
3,0,0,0,3,2,0,0,1,4,1,...,0,2,1,1,3,0,0,1,0,0
4,0,1,2,3,2,0,3,2,2,3,...,2,2,1,0,1,1,0,1,1,1